.creadores {
    color: rgb(154, 13, 189);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 1px solid rgb(175, 120, 0);
    display: inline-block;
    padding: 15px 40px;
    background-color: #460404;
    width: 250px;
}

.credito {
    color: rgb(129, 78, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 1px solid rgb(13, 194, 194);
}

.lista {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(255, 102, 0);
    padding: 15px 40px;
    background-color: #0b5002;
    width: 50px;
    box-sizing: border-box;
}

.imagen img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imagen img:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

.bienvenida {
    background-color: lightblue;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin:auto;
}

