p,h1  {color:black;
      front-family: Arial, Helvetica, sans-serif;
    text-align: center;
     border : 1px solid black;
    }
.credito{
    color:red;
    front-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border : 1px solid black;
    
}

